<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fcst.boom.dao.PermissionDao" >
  <resultMap id="permissionResult" type="Permission">
	 		<result column="id" property="id"></result>
	 		<result column="name" property="name"></result>
	 		<result column="type" property="type"></result>
	 		<result column="url" property="url"></result>
	 		<result column="percode" property="percode"></result>
	 		<result column="pId" property="pId"></result>
	 		<result column="parentids" property="parentids"></result>
	 		<result column="sortstring" property="sortstring"></result>
	 		<result column="available" property="available"></result>
	 		<result column="createDate" property="createDate"></result>
	 		<result column="updateDate" property="updateDate"></result>
	 		<result column="creater" property="creater"></result>
	 		<result column="mender" property="mender"></result>
	</resultMap>
  
  	<sql id="permissionCloumn">
	 id,name,type,url,percode,parentid,parentids,sortstring,available,createDate,updateDate,creater,mender
	</sql>
  
	<select id="selectPermissionByRoleId" resultMap="permissionResult" parameterType="hashMap">
		SELECT <include refid="permissionCloumn"></include> FROM sys_permission WHERE id in(SELECT sys_permission_id FROM sys_role_permission WHERE sys_role_id=#{roleId})
	</select>
	
	<select id="selectPermissionByParentid" resultMap="permissionResult" parameterType="hashMap">
		SELECT <include refid="permissionCloumn"></include> FROM sys_permission WHERE parentid=#{parentid}
	</select>
	
	<!-- shiro realm 根据用户id获取用户菜单权限 -->
	<select id="selectPermissionMenuByUserId" resultMap="permissionResult" parameterType="hashMap">
		SELECT <include refid="permissionCloumn"></include> FROM sys_permission
		WHERE type='menu' AND parentid=1 AND id IN
		(SELECT sys_permission_id  FROM sys_role_permission WHERE sys_role_id IN
			(SELECT sys_role_id FROM sys_user_role WHERE sys_user_id = #{userid})
		)
	</select>	
	
	<select id="selectPermissionByParentidNotOne" resultMap="permissionResult" parameterType="hashMap">
		SELECT <include refid="permissionCloumn"></include> FROM sys_permission WHERE parentid=#{parentid} AND parentid!=1
		AND id IN
			(SELECT sys_permission_id  FROM sys_role_permission WHERE sys_role_id IN
			(SELECT sys_role_id FROM sys_user_role WHERE sys_user_id = #{userid})
			)
	</select>
	
	<!-- shiro realm 根据用户id获取用户权限操作 -->
	<select id="selectPermissionByUserId" resultMap="permissionResult" parameterType="hashMap">
		SELECT <include refid="permissionCloumn"></include> FROM sys_permission
		WHERE type='permission' AND id IN
		(SELECT sys_permission_id  FROM sys_role_permission WHERE sys_role_id IN
			(SELECT sys_role_id FROM sys_user_role WHERE sys_user_id = #{userid})
		)
	</select>	
	
	<!-- java 递归菜单 -->
	<select id="selectPermissionAllMenuListDG" parameterType="java.util.Map" resultMap="permissionResult" >
        SELECT
        	a.id id,
        	a.parentid pId,
        	a.parentids parentids,
        	a.name name,
        	a.type type,
        	a.url url,
        	a.percode percode,
        	a.sortstring sortstring,
        	a.available available,
        	a.creater creater,
	        a.mender mender
        FROM
	        sys_permission a
        LEFT JOIN sys_permission p ON p.id = a.parentid
        ORDER BY
        	a.sortstring
	</select>
		
</mapper>
