<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fcst.boom.dao.RoleDao" >
  <resultMap id="roleResult" type="Role">
		  <id property="id" column="id" />
		<result property="name" column="name" />
		<result property="enname" column="enname" />
		<result property="roleType" column="roleType" />
		<result property="dataScope" column="dataScope" />
		<result property="remark" column="remark" />
		<result property="useable" column="useable" />
		<result property="createUser" column="createUser" />
		<result property="createDateStr" column="createDate" />
		<result property="updateUser" column="updateUser" />
		<result property="updateDateStr" column="updateDate" />
		
		<collection property="officeList" ofType="Office">
		  <id property="id" column="officeList.id" />		
		</collection>
		
		<collection property="menuList" ofType="Menu">
			<id property="id" column="menuList.id" />
		</collection>
		
  </resultMap>
		
	<select id="findList" resultMap="roleResult" >
	  SELECT
	a.id,
	a.office_id AS "office.id",
	a. NAME,
	a.enname,
	a.role_type AS roleType,
	a.data_scope AS dataScope,
	a.remark,
	a.create_user AS "createBy.id",
	a.create_date createDate,
	a.update_user AS "updateBy.id",
	a.update_date updateData,
	a.del_flag AS "delFlag",
	o. NAME AS "office.name",
	o. CODE,
	a.useable AS useable  ,
	ro.office_id AS "officeList.id"
		FROM sys_role a
	      LEFT JOIN sys_office o ON o.id = a.office_id
	      LEFT JOIN sys_user_role  ur ON   ur.sys_role_id = a.id
	      LEFT JOIN sys_user u ON u.id = ur.sys_user_id
	      LEFT JOIN sys_role_office ro ON ro.role_id = a.id
		WHERE a.del_flag = "0" AND a.useable= "1" 
 		<if test="user != null and user.id != null and user.id != ''">
			AND u.id = #{user.id}
		</if>
		<if test="user != null and user.loginName != null and user.loginName != ''">
			AND u.login_name = #{user.loginName}
		</if>
			<!-- 数据范围过滤 -->
		${sqlMap.dsf}
		ORDER BY o.code, a.name 
	</select>
	
	<select id="findAllList" resultType="Role">
		SELECT
	a.id,
	a.office_id AS "office.id",
	a. NAME,
	a.enname,
	a.role_type AS roleType,
	a.data_scope AS dataScope,
	a.remark,
	a.create_user AS "createBy.id",
	a.create_date createDate,
	a.update_user AS "updateBy.id",
	a.update_date updateData,
	a.del_flag AS "delFlag",
	o. NAME AS "office.name",
	o. CODE,
	a.useable AS useable 
		FROM sys_role a
		LEFT JOIN sys_office o ON o.id = a.office_id
		ORDER BY o.code, a.name
	</select>
  
  	<select id="getRoleList" resultMap="roleResult"  parameterType="com.fcst.boom.dao.RoleDao">
		SELECT 
			r.id,
    		r.name,
    		r.enname,
			r.create_user AS createUser,
			DATE_FORMAT(r.create_date,'%Y-%m-%d %H:%i:%s') as createDate
		FROM sys_role r
		where 1=1 
			<if test="role.name!=null and role.name != ''">
				and r.name = #{role.name}
			</if>
	<!-- 	  ${sqlMap.dsf} -->
		order by r.create_date desc
	</select>
	
	<insert id="addRole" parameterType="com.fcst.boom.dao.RoleDao">
		INSERT INTO sys_role (id,name,enname,create_user,create_date,update_user,update_date,remark) 
		values (#{id},#{name},#{enname},#{createUser},#{createDate},#{createUser},#{createDate},#{remark})
	</insert>
	
	<select id="getRoleById" resultMap="roleResult">
		SELECT 
			r.id,
    		r.name,
    		r.enname,
    		r.remark,
			r.create_user AS createUser,
			DATE_FORMAT(r.create_date,'%Y-%m-%d %H:%i:%s') AS createDate,
			r.update_user AS updateUser,
			DATE_FORMAT(r.update_date,'%Y-%m-%d %H:%i:%s') AS updateDate
		FROM sys_role r
		WHERE r.id = #{id}
	</select>
	
	<update id="updateRole" parameterType="com.fcst.boom.dao.RoleDao">
		UPDATE sys_role 
		<set>
			<if test="name!=null and name != ''">
				name=#{name},
			</if>
			<if test="enname and enname != ''">
				enname=#{enname},
			</if>
			<if test="remark and remark != ''">
				remark=#{remark},
			</if>
			<if test="updateUser and updateUser != ''">
				update_user=#{updateUser},
			</if>
			<if test="updateDate and updateDate != ''">
				update_date=#{updateDate}
			</if>
		</set>
		where id=#{id}
	</update>
	
	<delete id="deleteRole" parameterType="java.lang.String">
		DELETE FROM sys_role where id=#{id}
	</delete>
	
	<delete id="deleteRolePermissionByRoleId" parameterType="java.lang.String">
		DELETE FROM sys_role_permission WHERE sys_role_id=#{roleId}
	</delete>
	
	<insert id="insertRolePermission" parameterType="java.util.HashMap">
		INSERT INTO sys_role_permission(sys_role_id,sys_permission_id) VALUES (#{roleId},#{permissionId})
	</insert>
	
	<select id="findSelectRoleId" resultMap="roleResult">
		SELECT 
			r.id,
    		r.name
		FROM sys_role r order by r.id desc

	</select>
	
		
</mapper>
