<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fcst.boom.dao.RoleDao" >
  <resultMap id="roleResult" type="Role">
		<id property="id" column="id" />
		<result property="name" column="name" />
		<result property="enname" column="enname" />
		<result property="createUser" column="createUser" />
		<result property="createDateStr" column="createDate" />
		<result property="updateUser" column="updateUser" />
		<result property="updateDateStr" column="updateDate" />
	</resultMap>
  
  	<select id="getRoleList" resultMap="roleResult"  parameterType="com.fcst.boom.dao.RoleDao">
		SELECT 
			r.id,
    		r.name,
    		r.enname,
			r.create_user AS createUser,
			DATE_FORMAT(r.create_date,'%Y-%m-%d %H:%i:%s') as createDate
		FROM sys_role r
		where 1=1 
			<if test="role.name!=null and role.name != ''">
				and r.name = #{role.name}
			</if>
		order by r.create_date desc
	</select>
	
	<insert id="addRole" parameterType="com.fcst.boom.dao.RoleDao">
		INSERT INTO sys_role (id,name,enname,create_user,create_date,update_user,update_date,remark) 
		values (#{id},#{name},#{enname},#{createUser},#{createDate},#{createUser},#{createDate},#{remark})
	</insert>
	
	<select id="getRoleById" resultMap="roleResult">
		SELECT 
			r.id,
    		r.name,
    		r.enname,
    		r.remark,
			r.create_user AS createUser,
			DATE_FORMAT(r.create_date,'%Y-%m-%d %H:%i:%s') AS createDate,
			r.update_user AS updateUser,
			DATE_FORMAT(r.update_date,'%Y-%m-%d %H:%i:%s') AS updateDate
		FROM sys_role r
		WHERE r.id = #{id}
	</select>
	
	<update id="updateRole" parameterType="com.fcst.boom.dao.RoleDao">
		UPDATE sys_role 
		<set>
			<if test="name!=null and name != ''">
				name=#{name},
			</if>
			<if test="enname and enname != ''">
				enname=#{enname},
			</if>
			<if test="remark and remark != ''">
				remark=#{remark},
			</if>
			<if test="updateUser and updateUser != ''">
				update_user=#{updateUser},
			</if>
			<if test="updateDate and updateDate != ''">
				update_date=#{updateDate}
			</if>
		</set>
		where id=#{id}
	</update>
	
	<delete id="deleteRole" parameterType="java.lang.String">
		DELETE FROM sys_role where id=#{id}
	</delete>
	
	<delete id="deleteRolePermissionByRoleId" parameterType="java.lang.String">
		DELETE FROM sys_role_permission WHERE sys_role_id=#{roleId}
	</delete>
	
	<insert id="insertRolePermission" parameterType="java.util.HashMap">
		INSERT INTO sys_role_permission(sys_role_id,sys_permission_id) VALUES (#{roleId},#{permissionId})
	</insert>
	
	<select id="findSelectRoleId" resultMap="roleResult">
		SELECT 
			r.id,
    		r.name
		FROM sys_role r order by r.id desc

	</select>
	
		
</mapper>
