<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fcst.boom.dao.UserDao" >
  <resultMap id="roleResult" type="com.fcst.boom.domain.User">
		<id property="id" column="id" />
		<result property="name" column="name" />
		<result property="loginName" column="login_name" />
		<result property="sex" column="sex" />
		<result property="birthday" column="birthday" />
		<result property="photoUrl" column="photo_url" />
		<result property="photoName" column="photo_name" />
		<result property="loginIp" column="login_ip" />
		<result property="remark" column="remark" />
		<result property="mobile" column="mobile" />
		<result property="state" column="state" />
		<result property="email" column="email" />
		<result property="createUser" column="createUser" />
		<result property="createDateStr" column="createDate" />
		<result property="updateUser" column="updateUser" />
		<result property="updateDateStr" column="updateDate" />
		<result property="lastDate" column="last_date" />
	</resultMap>
  
  	<select id="getUserList" resultMap="roleResult"  parameterType="com.fcst.boom.domain.User">
		SELECT 
			u.id,
    		u.login_name,
    		u.name,
    		(select dict_name from sys_dictionary where dict_value= u.sex and dict_type='sex') as sex,
    		DATE_FORMAT(u.birthday,'%Y-%m-%d %H:%i:%s') as birthday,
    		u.mobile,
    		(select dict_name from sys_dictionary where dict_value = u.sex and dict_type='user_status') as state,
			u.create_user AS createUser,
			DATE_FORMAT(u.create_date,'%Y-%m-%d %H:%i:%s') as createDate,
			u.photo_url,
			u.login_ip,
			u.remark,
			u.email,
			DATE_FORMAT(u.last_date,'%Y-%m-%d %H:%i:%s') as last_date,
			u.photo_name
		FROM sys_user u
		where 1=1 
			<if test="user.name!=null and user.name != ''">
				and u.name = #{user.name}
			</if>
		order by u.create_date desc
	</select>
	
	<insert id="addUser" parameterType="com.fcst.boom.domain.User">
		INSERT INTO sys_user (id,login_name,password,name,email,mobile,state,sex,birthday,create_user,create_date,update_user,update_date,remark,photo_url,photo_name) 
		values (#{id},#{loginName},#{password},#{name},#{email},#{mobile},'1',#{sex},#{birthday},#{createUser},#{createDate},#{createUser},#{createDate},#{remark},#{photoUrl},#{photoName})
	</insert>
	
	<select id="getRoleById" resultMap="roleResult">
		SELECT 
			r.id,
    		r.name,
    		r.enname,
    		r.remark,
			r.create_user AS createUser,
			DATE_FORMAT(r.create_date,'%Y-%m-%d %H:%i:%s') AS createDate,
			r.update_user AS updateUser,
			DATE_FORMAT(r.update_date,'%Y-%m-%d %H:%i:%s') AS updateDate
		FROM sys_role r
		WHERE r.id = #{id}
	</select>
	
	<update id="updateRole" parameterType="com.fcst.boom.dao.RoleDao">
		UPDATE sys_role 
		<set>
			<if test="name!=null and name != ''">
				name=#{name},
			</if>
			<if test="enname and enname != ''">
				enname=#{enname},
			</if>
			<if test="remark and remark != ''">
				remark=#{remark},
			</if>
			<if test="updateUser and updateUser != ''">
				update_user=#{updateUser},
			</if>
			<if test="updateDate and updateDate != ''">
				update_date=#{updateDate}
			</if>
		</set>
		where id=#{id}
	</update>
	
	<delete id="deleteRole" parameterType="java.lang.String">
		delete from sys_role where id=#{id}
	</delete>
		
</mapper>
